body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    margin: 0;
    font-size: 40px;
}
#banner-para{
    font-size: 20px;
    font-weight: bold;
}
.banner{
    background-image: url(images/flood-damaged-estate-concept_140689-3282.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 10px;
    color: white;
    border-radius: 5%;
}
#button-id{
    margin-top: 50px;
    margin-bottom: 20px;
}
.donation-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
.taka{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount{
    margin: 10px; 
    padding: 10px;
    width: 100px;
    background-color: rgb(220, 240, 247);
    border-radius: 5%;
    text-align: center;
}
#two-hundred-taka{
    background-color: rgb(241, 187, 196);
    margin: 10px; 
    padding: 10px;
    width: 100px;
    border-radius: 5%;
    text-align: center;
    border: 2px solid rgb(220, 72, 72);
    color: rgb(224, 69, 69);
}
.input-class{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.input-field{
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    text-align: center;
    width: 500px;
}
.donation-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.donation-plan{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.donation-items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
#food-item{
    background-color: rgb(202, 234, 247);
    margin-right: 10px;
    padding: 20px;
    border-radius: 5%;
}
#shelter-item{
    background-color: rgb(241, 206, 212);
    padding: 20px;
    border-radius: 5%;
}
#education-item{
    background-color: rgb(245, 232, 206);
    margin-left: 10px;
    padding: 20px;
    border-radius: 5%;
}
.alternative-methods{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.other-methods{
    background-color: rgb(173, 220, 204);
    height: 500px;
    width: 1000px;
    margin: auto;
}
.other-options{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.half-width{
    width: 50%;
    margin-top: 50px;
}
.half-width img{
    margin-left: 200px;
    margin-top: 20px;
}
.payment-header{
    color: blue
}
.image{
    width: 50px;
    height: 50px;
}
.update{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 150px;
    text-align: center;
    background-color: rgb(246, 225, 187);
}
.form-color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
    row-gap: 0;
}
.email{
    background-color: rgb(195, 180, 180);
    border: none;
    padding: 10px;
    margin-right: -6px;
}
.submit{
    background-image: linear-gradient(tomato, red);
    border: none;
    padding: 10px;
    color: white;
}
footer{
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    background-color: black;
    color: brown;
}